<form action='/students'>
  Student Form
  <input type="text" name="student[first_name]" id="student[first_name]">
  <input type="text" id="student[last_name]" name = "student[last_name]">
  <input type="submit" id="submit" value='Submit'>
</form>
